// @import './mp-cu/colorUI/scss/ui';
.background-color {
    background-color: rgb(247 248 250);
}

page {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    background-color: rgb(247 248 250);
}

.touchable:active {
    background-color: #f2f3f5;
}

.touchable-card:active {
    transform: translate(1px, 1px);
}